:root {
  --action-width: 31px;
  --property-width: 125px;
}

.ui-cards {
  display: flex;
  flex-wrap: wrap;
}

.ui-cards > .card {
  height: 100%;
  display: flex;
  flex: auto;
  position: relative;
}

.ui-cards > .card .label {
  padding: 0;
  margin: 0;
  border-radius: 0;
  display: block;
  line-height: normal;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  color: #999;
}

/* global padding */
.ui-cards > .card > .content,
.ui-cards > .card > .properties .property {
  padding: 10px 15px;
}

/* content */
.ui-cards > .card > .content {
  position: relative;
  background: #fff;
}

.ui-cards > .card > .content > .intro {
  display: flex;
  flex-direction: row;
}

.ui-cards > .card > .content > .intro > .avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
  background: #eee;
}

.ui-cards > .card > .content > .intro > .avatar > * {
  max-width: 100%;
  color: inherit;
}

.ui-cards > .card > .content > .intro .text {
  width: 100%;
}

.ui-cards > .card > .content > .intro .label {
  margin-bottom: 4px;
  white-space: pre-wrap;
  text-align: left;
}

.ui-cards > .card > .content > .intro .title {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: 200;
  color: #999;
}

.ui-cards > .card > .content > .intro .title a:hover,
.ui-cards > .card > .content > .intro .title a:active,
.ui-cards > .card > .content > .intro .title a:focus {
  text-decoration: none;
}

.ui-cards > .card > .content > .description {
  margin-top: 6px;
}

/* icons */
.ui-cards > .card .icons {
  padding-left: 6px;
  float: right;
  position: relative;
  top: -3px;
  transition: opacity 0.3s ease-in-out;
}

.ui-cards > .card .icons > [class*="fa-"] {
  transform: scale(0.9);
}

/* properties */
.ui-cards > .card > .properties {
  display: flex;
  background: #fbfbfb;
}

.ui-cards > .card > .properties .property {
  border-left: 1px solid #ddd;
  position: relative;
  text-align: center;
  /**/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ui-cards > .card > .properties .property > * {
  margin: 0;
}

.ui-cards > .card > .properties .property .value {
  margin-bottom: 6px;
  font-size: 14px;
  /**/
  max-width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui-cards > .card > .properties .property .copy {
  padding: 5px;
  border-radius: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: #f9f9f9;
}

.ui-cards > .card > .properties .property:hover .copy {
  opacity: 1;
}

/* styles for when property can be copied to clipboard */
.ui-cards > .card > .properties .property[data-copy] {
  cursor: copy;
}

.ui-cards > .card > .properties .property[data-copy] .value {
  margin-bottom: 4px;
}

/* actions */
.ui-cards > .card > .actions {
  background: #fff;
}

.ui-cards > .card > .actions [data-type] {
  padding: 10px 6px;
  border-left: 1px solid transparent;
  text-decoration: none;
  font-size: 14px;
}

/* =list */
.ui-cards.list > .card {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 3px;
  flex-direction: row;
}

.ui-cards.list > .card > .content,
.ui-cards.list > .card > .actions,
.ui-cards.list > .card > .properties {
  display: flex;
  flex-direction: column;
}

/* =list content */
.ui-cards.list > .card > .content {
  width: 50%;
  flex: auto;
  justify-content: center;
}

/* =list actions */
.ui-cards.list > .card > .actions {
  border-left: 1px solid #ddd;
  overflow: hidden;
}

.ui-cards.list > .card > .properties > .items,
.ui-cards.list > .card > .actions > .items {
  display: flex;
  flex: auto 1;
  flex-direction: row;
}

.ui-cards.list > .card > .actions > .items {
  justify-content: flex-end;
}

/* =list actions width */
.ui-cards.list[data-action-count] > .card > .actions {
  width: calc(5 * var(--action-width));
}
.ui-cards.list[data-action-count="4"] > .card > .actions {
  width: calc(4 * var(--action-width));
}

.ui-cards.list[data-action-count="3"] > .card > .actions {
  width: calc(3 * var(--action-width));
}

.ui-cards.list[data-action-count="2"] > .card > .actions {
  width: calc(2 * var(--action-width));
}

.ui-cards.list[data-action-count="1"] > .card > .actions {
  width: var(--action-width);
}

.ui-cards.list > .card > .actions > .items [data-type] {
  display: flex;
  align-self: stretch;
  align-items: center;
}

/* =list properties */
.ui-cards.list[data-property-count="6"] > .card > .properties {
  max-width: calc(6 * var(--property-width));
}
.ui-cards.list[data-property-count="5"] > .card > .properties {
  max-width: calc(5 * var(--property-width));
}
.ui-cards.list[data-property-count="4"] > .card > .properties {
  max-width: calc(4 * var(--property-width));
}
.ui-cards.list[data-property-count="3"] > .card > .properties {
  max-width: calc(3 * var(--property-width));
}
.ui-cards.list[data-property-count="2"] > .card > .properties {
  max-width: calc(2 * var(--property-width));
}
.ui-cards.list[data-property-count="1"] > .card > .properties {
  max-width: calc(1 * var(--property-width));
}

.ui-cards.list > .card > .properties .property {
  width: var(--property-width);
}

/* =grid */
.ui-cards.grid {
  margin: -10px -10px 0;
  flex: auto;
  justify-content: space-between;
}

.ui-cards.grid > .card {
  min-width: 200px;
  border: 10px solid transparent;
  flex-direction: column;
}

/* =grid content */
.ui-cards.grid > .card > .content {
  border: 1px solid #ddd;
  border-bottom: none;
}

/* =grid properties */
.ui-cards.grid > .card > .properties {
  flex-wrap: wrap;
  border-right: 1px solid #ddd;
  /**/
  flex-direction: row;
}

.ui-cards.grid > .card > .properties > .items {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui-cards.grid > .card > .properties .property {
  border-top: 1px solid #ddd;
  flex-grow: 1;
}

/* =grid actions */
.ui-cards.grid > .card > .actions {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  background: #eee;
}

.ui-cards.grid > .card > .actions .items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* =grid conditional styles */
.ui-cards.grid > .card:not(.has-actions) > .properties {
  border-bottom: 1px solid #ddd;
}

.ui-cards.grid > .card:not(.has-properties) > .actions {
  border-bottom: 1px solid #ddd;
}

.ui-cards.grid > .card:not(.has-properties):not(.has-actions) > .content {
  border-bottom: 1px solid #ddd;
}

/* define grid columns */
.ui-cards.grid[data-columns="1"] > .card {
  flex: 1 100%;
}
.ui-cards.grid[data-columns="2"] > .card {
  flex: 1 50%;
}
.ui-cards.grid[data-columns="3"] > .card {
  flex: 1 33%;
}
.ui-cards.grid[data-columns="4"] > .card {
  flex: 1 25%;
}
.ui-cards.grid[data-columns="5"] > .card {
  flex: 1 20%;
}
.ui-cards.grid[data-columns="6"] > .card {
  flex: 1 16.66%;
}

/* define button styles based on action type */
.ui-cards .card .actions [data-type] {
  border-radius: 0 !important;
  border-color: rgba(0, 0, 0, 0.1);
  color: #4B4D51;
  background: #fff;
}

.ui-cards .card .actions [data-type] [class*="fa-"] {
  color: inherit;
}

/**/
.ui-cards .card .actions [data-type="create"] {
  color: #3c763d;
  border-color: #d6e9c6;
  background: #dff0d8;
}

.ui-cards .card .actions [data-type="delete"] {
  color: #a94442;
  border-color: #ebccd1;
  background: #f2dede;
}

/* icon colour change only */
.ui-cards .card .actions [data-type="is-default"] {
  color: #f1c40f;
}

.ui-cards .card .actions [data-type="disable"],
.ui-cards .card .actions [data-type="approve"],
.ui-cards .card .actions [data-type="restore"],
.ui-cards .card .actions [data-type="verify"],
.ui-cards .card .actions [data-type="add"] {
  color: #3c763d;
}

.ui-cards .card .actions [data-type="enable"],
.ui-cards .card .actions [data-type="decline"],
.ui-cards .card .actions [data-type="remove"] {
  color: #a94442;
}

/* card border left colour */
.ui-cards > .card:before {
  content: '';
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #C7CCD9;
}

.ui-cards .card.default:before {
  background-color: #C7CCD9;
}

.ui-cards .card.red:before {
  background-color: #c0392b;
}

.ui-cards .card.orange:before {
  background-color: #e67e22;
}

.ui-cards .card.yellow:before {
  background-color: #f1c40f;
}

.ui-cards .card.green:before {
  background-color: #139543;
}

.ui-cards .card.sky:before {
  background-color: #3498db;
}

.ui-cards .card.blue:before {
  background-color: #2980b9;
}

.ui-cards .card.indigo:before {
  background-color: #6e5cb6;
}

.ui-cards .card.violet:before {
  background-color: #8e44ad;
}

.ui-cards .card.pink:before {
  background-color: #da49be;
}

.ui-cards .card.grey:before {
  background-color: #bdc3c7;
}

.ui-cards .card.black:before {
  background-color: #333333;
}

/* =stacked */
.ui-cards.grid.stacked[data-columns="1"] > .card,
.ui-cards.list.stacked > .card {
  margin-bottom: 0;
}

.ui-cards.list.stacked > .card + .card {
  border-top: none;
}

.ui-cards.grid.stacked[data-columns="1"] > .card {
  border-top: none;
  border-bottom: none;
}

.ui-cards.grid.stacked[data-columns="1"] > .card + .card > .content {
  border-top: none;
}
