.f-obj-lst { }

.f-obj-lst-itm {
  border-left:     4px solid #C7CCD9;
  margin:          5px 0 4px 0;
  overflow:        hidden;
  background:      #fff;
  list-style-type: none;
}

.f-obj-lst-stacked {
  margin-top: 1px;
}

.f-obj-lst-stacked .f-obj-lst-itm {
  margin: -1px 0 0 0;
}

.f-obj-lst-stacked.f-obj-lst-stacked-min-border .f-obj-lst-itm {
  border-left-width: 1px;
}

.f-obj-lst-itm-red { border-left-color: #c0392b; }

.f-obj-lst-itm-orange { border-left-color: #e67e22; }

.f-obj-lst-itm-yellow { border-left-color: #f1c40f; }

.f-obj-lst-itm-green { border-left-color: #139543; }

.f-obj-lst-itm-sky { border-left-color: #3498db; }

.f-obj-lst-itm-blue { border-left-color: #2980b9; }

.f-obj-lst-itm-indigo { border-left-color: #6e5cb6; }

.f-obj-lst-itm-pink { border-left-color: #da49be; }

.f-obj-lst-itm-grey { border-left-color: #bdc3c7; }

.f-obj-lst-itm-black { border-left-color: #333333; }

.f-obj-lst-itm-default { border-left-color: #C7CCD9; }

.f-obj-lst-itm-frm {
  border:            1px solid #C7CCD9;
  border-left-width: 0;
  position:          relative;
  min-height:        33px;
  overflow:          hidden;
}

.f-obj-lst-itm-cntr { }

.f-obj-lst-itm-tbl {
  display:      table;
  table-layout: fixed;
  width:        100%;
}

.f-obj-lst-itm-cntr-row {
  display: table-row;
}

.f-obj-lst-itm-cntr-col {
  display:        table-cell;
  vertical-align: top;
  line-height:    30px;
  padding:        0 8px;
}

.f-obj-lst-itm-cntr-col2 {
  width:          160px;
  text-align:     right;
  vertical-align: middle;
}

.f-obj-lst-itm-title {
  font-weight:   bold;
  white-space:   nowrap;
  word-wrap:     break-word;
  overflow:      hidden;
  text-overflow: ellipsis;
}

/** Actions **/

.f-obj-lst-itm-act {
  position:       absolute;
  right:          0;
  top:            0;
  bottom:         0;
  vertical-align: middle;
  text-align:     right;
  border-left:    1px solid #C7CCD9;
}

.f-obj-lst-itm-act li {
  float:        right;
  border-right: 1px solid #d6d6e9;
}

.f-obj-lst-itm-act li:hover {
  background: #F5F5F5;
}

.f-obj-lst-itm-act li.highlight {
  background: #FFF3DC;
}

.f-obj-lst-itm-act li.highlight:hover {
  background: #FFEAC2;
}

.f-obj-lst-itm-act li:first-child {
  border-right: 0;
}

.f-obj-lst-itm-act li,
.f-obj-lst-itm-act li a {
  display:  inline-block;
  position: relative;
  width:    24px;
  height:   100%;
}

.f-obj-lst-itm-act li .f-icon {
  width:      14px;
  height:     14px;
  position:   absolute;
  display:    block;
  top:        50%;
  margin-top: -7px;
  left:       5px;
}

.f-obj-lst-itm-w-act-1 .f-obj-lst-itm-cntr {
  margin-right: 24px;
}

.f-obj-lst-itm-w-act-2 .f-obj-lst-itm-cntr {
  margin-right: 48px;
}

.f-obj-lst-itm-w-act-3 .f-obj-lst-itm-cntr {
  margin-right: 72px;
}

