
.qb-tokenizer + .tokenize {
  display: inline-block;
  margin-top: 2px;
}

.qb-tokenizer + .tokenize > .tokens-container {
  padding: 0 0 3px 3px;
  min-height: 0;
  white-space: nowrap;
}

.qb-tokenizer + .tokenize > .tokens-container > .token-search {
  display: inline-block;
}

.qb-tokenizer + .tokenize > .tokens-container > .token-search > input {
  height: 20px;
  width: auto;
}
