.qb-rule {
  position: relative;
  width:    100%;
  padding:  1px;
}

.qb-rule input, .qb-rule select {
  display:       inline-block;
  height:        32px;
  padding:       6px 12px;
  font-size:     13px;
  line-height:   1.4;
  color:         #555;
  border:        1px solid #d6d6d6;
  border-radius: 5px;
  margin:        2px 5px 2px 0;
}

.qb-key {
}

.qb-comparator {
}

.qb-value {
}

.qb-del-rule {
  position: absolute;
  right:    0;
}

.qb-add-rule {
}
