/** RESET **/

body {
  text-rendering:         optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body ul, body ol {
  list-style: none;
  margin:     0;
  padding:    0;
}

/** Spacing **/
.f-pl {
  padding: 16px;
}

.f-pm {
  padding: 8px;
}

.f-ps {
  padding: 4px;
}

.f-ml {
  margin: 16px;
}

.f-mm {
  margin: 8px;
}

.f-ms {
  margin: 4px;
}

.f-mn {
  margin: 0;
}

/* left */
.f-pll {
  padding-left: 16px;
}

.f-pml {
  padding-left: 8px
}

.f-psl {
  padding-left: 4px;
}

.f-pnl {
  padding-left: 0;
}

.f-mll {
  margin-left: 16px;
}

.f-mml {
  margin-left: 8px;
}

.f-msl {
  margin-left: 4px;
}

.f-mnl {
  margin-left: 0;
}

/* Right */
.f-plr {
  padding-right: 16px;
}

.f-pmr {
  padding-right: 8px;
}

.f-psr {
  padding-right: 4px;
}

.f-pnr {
  padding-right: 0;
}

.f-mlr {
  margin-right: 16px;
}

.f-mmr {
  margin-right: 8px;
}

.f-msr {
  margin-right: 4px;
}

.f-mnr {
  margin-right: 0;
}

/* Bottom */
.f-plb {
  padding-bottom: 16px;
}

.f-pmb {
  padding-bottom: 8px;
}

.f-psb {
  padding-bottom: 4px;
}

.f-pnb {
  padding-bottom: 0;
}

.f-mlb {
  margin-bottom: 16px;
}

.f-mmb {
  margin-bottom: 8px;
}

.f-msb {
  margin-bottom: 4px;
}

.f-mnb {
  margin-bottom: 0;
}

/* Top */
.f-plt {
  padding-top: 16px;
}

.f-pmt {
  padding-top: 8px;
}

.f-pst {
  padding-top: 4px;
}

.f-pnt {
  padding-top: 0;
}

.f-mlt {
  margin-top: 16px;
}

.f-mmt {
  margin-top: 8px;
}

.f-mst {
  margin-top: 4px;
}

.f-mnt {
  margin-top: 0;
}

/* Text Styles */

.f-txt-uppercase {
  text-transform: uppercase;
}

.f-txt-strike {
  text-decoration: line-through;
}

/* Clears */

.f-clr-left {
  clear: left;
}

.f-clr-right {
  clear: right;
}

.f-clr-both {
  clear: both;
}

.f-clr-none {
  clear: none;
}

/* Colours */
.f-red {
  color: #c0392b !important;
}

.f-bg-red {
  background-color: #c0392b !important;
}

.f-l-red {
  color: #f4dddb !important;
}

.f-bg-l-red {
  background-color: #f4dddb !important;
}

.f-orange {
  color: #e67e22 !important;
}

.f-bg-orange {
  background-color: #e67e22 !important;
}

.f-l-orange {
  color: #f7e2d4 !important;
}

.f-bg-l-orange {
  background-color: #f7e2d4 !important;
}

.f-yellow {
  color: #f1c40f !important;
}

.f-bg-yellow {
  background-color: #f1c40f !important;
}

.f-l-yellow {
  color: #fdf5d4 !important;
}

.f-bg-l-yellow {
  background-color: #fdf5d4 !important;
}

.f-green {
  color: #139543 !important;
}

.f-bg-green {
  background-color: #139543 !important;
}

.f-l-green {
  color: #d7eddf !important;
}

.f-bg-l-green {
  background-color: #d7eddf !important;
}

.f-blue {
  color: #2980b9 !important;
}

.f-bg-blue {
  background-color: #2980b9 !important;
}

.f-l-blue {
  color: #daeaf3 !important;
}

.f-bg-l-blue {
  background-color: #daeaf3 !important;
}

.f-sky {
  color: #3498db !important;
}

.f-bg-sky {
  background-color: #3498db !important;
}

.f-l-sky {
  color: #ddeef9 !important;
}

.f-bg-l-sky {
  background-color: #ddeef9 !important;
}

.f-indigo {
  color: #6e5cb6 !important;
}

.f-bg-indigo {
  background-color: #6e5cb6 !important;
}

.f-l-indigo {
  color: #eae6f7 !important;
}

.f-bg-l-indigo {
  background-color: #eae6f7 !important;
}

.f-pink {
  color: #da49be !important;
}

.f-bg-pink {
  background-color: #da49be !important;
}

.f-l-pink {
  color: #fbeaf8 !important;
}

.f-bg-l-pink {
  background-color: #fbeaf8 !important;
}

.f-grey {
  color: #bdc3c7 !important;
}

.f-bg-grey {
  background-color: #bdc3c7 !important;
}

.f-black {
  color: #333333 !important;
}

.f-bg-black {
  background-color: #333333 !important;
}

.f-white {
  color: #fff !important;
}

.f-bg-white {
  background-color: #fff !important;
}

.f-bg-none {
  background-color: transparent !important;
}

/* Border Radius */
.f-brl {
  border-radius: 5px !important;
}
.f-brm {
  border-radius: 3px !important;
}
.f-brs {
  border-radius: 2px !important;
}
.f-brn {
  border-radius: 0 !important;
}

.f-brl-t {
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.f-brm-t {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}
.f-brs-t {
  border-top-left-radius: 2px !important;
  border-top-right-radius: 2px !important;
}
.f-brn-t {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.f-brl-b {
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.f-brm-b {
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}
.f-brs-b {
  border-bottom-left-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}
.f-brn-b {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.f-brl-tl {
  border-top-left-radius: 5px !important;
}
.f-brm-tl {
  border-top-left-radius: 3px !important;
}
.f-brs-tl {
  border-top-left-radius: 2px !important;
}
.f-brn-tl {
  border-top-left-radius: 0 !important;
}

.f-brl-tr {
  border-top-right-radius: 5px !important;
}
.f-brm-tr {
  border-top-right-radius: 3px !important;
}
.f-brs-tr {
  border-top-right-radius: 2px !important;
}
.f-brn-tr {
  border-top-right-radius: 0 !important;
}

.f-brl-bl {
  border-bottom-left-radius: 5px !important;
}
.f-brm-bl {
  border-bottom-left-radius: 3px !important;
}
.f-brs-bl {
  border-bottom-left-radius: 2px !important;
}
.f-brn-bl {
  border-bottom-left-radius: 0 !important;
}

.f-brl-br {
  border-bottom-right-radius: 5px !important;
}
.f-brm-br {
  border-bottom-right-radius: 3px !important;
}
.f-brs-br {
  border-bottom-right-radius: 2px !important;
}
.f-brn-br {
  border-bottom-right-radius: 0 !important;
}

.f-brn-l {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.f-brn-r {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Borders */
.f-bn-l {
  border-left: none !important;
}
.f-bn-r {
  border-right: none !important;
}
.f-bn-t {
  border-top: none !important;
}
.f-bn-b {
  border-bottom: none !important;
}

/**/
.box-shadow-none {
  box-shadow: none !important;
}

.label-as-badge {
  padding: 3px 7px !important;
  font-size: 100% !important;
  font-weight: normal !important;
}
