/** RESET **/

body {
  text-rendering:         optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body ul, body ol {
  list-style: none;
  margin:     0;
  padding:    0;
}

/** Spacing **/

.f-pl {
  padding: 16px;
}

.f-pm {
  padding: 8px;
}

.f-ps {
  padding: 4px;
}

.f-ml {
  margin: 16px;
}

.f-mm {
  margin: 8px;
}

.f-ms {
  margin: 4px;
}

/* left */

.f-pll {
  padding-left: 16px;
}

.f-pml {
  padding-left: 8px
}

.f-psl {
  padding-left: 4px;
}

.f-mll {
  margin-left: 16px;
}

.f-mml {
  margin-left: 8px;
}

.f-msl {
  margin-left: 4px;
}

/* Right */

.f-plr {
  padding-right: 16px;
}

.f-pmr {
  padding-right: 8px;
}

.f-psr {
  padding-right: 4px;
}

.f-mlr {
  margin-right: 16px;
}

.f-mmr {
  margin-right: 8px;
}

.f-msr {
  margin-right: 4px;
}

/* Bottom */

.f-plb {
  padding-bottom: 16px;
}

.f-pmb {
  padding-bottom: 8px;
}

.f-psb {
  padding-bottom: 4px;
}

.f-mlb {
  margin-bottom: 16px;
}

.f-mmb {
  margin-bottom: 8px;
}

.f-msb {
  margin-bottom: 4px;
}

/* Top */

.f-plt {
  padding-top: 16px;
}

.f-pmt {
  padding-top: 8px;
}

.f-pst {
  padding-top: 4px;
}

.f-mlt {
  margin-top: 16px;
}

.f-mmt {
  margin-top: 8px;
}

.f-mst {
  margin-top: 4px;
}

/* Text Styles */

.f-txt-uppercase {
  text-transform: uppercase;
}

.f-txt-strike {
  text-decoration: line-through;
}

/* Clears */

.f-clr-left {
  clear: left;
}

.f-clr-right {
  clear: right;
}

.f-clr-both {
  clear: both;
}

.f-clr-none {
  clear: none;
}

/* Colours */
.f-red {
  color: #c0392b !important;
}

.f-bg-red {
  background-color: #c0392b !important;
}

.f-l-red {
  color: #f4dddb !important;
}

.f-bg-l-red {
  background-color: #f4dddb !important;
}

.f-orange {
  color: #e67e22 !important;
}

.f-bg-orange {
  background-color: #e67e22 !important;
}

.f-l-orange {
  color: #f7e2d4 !important;
}

.f-bg-l-orange {
  background-color: #f7e2d4 !important;
}

.f-yellow {
  color: #f1c40f !important;
}

.f-bg-yellow {
  background-color: #f1c40f !important;
}

.f-l-yellow {
  color: #fdf5d4 !important;
}

.f-bg-l-yellow {
  background-color: #fdf5d4 !important;
}

.f-green {
  color: #139543 !important;
}

.f-bg-green {
  background-color: #139543 !important;
}

.f-l-green {
  color: #d7eddf !important;
}

.f-bg-l-green {
  background-color: #d7eddf !important;
}

.f-blue {
  color: #2980b9 !important;
}

.f-bg-blue {
  background-color: #2980b9 !important;
}

.f-l-blue {
  color: #daeaf3 !important;
}

.f-bg-l-blue {
  background-color: #daeaf3 !important;
}

.f-sky {
  color: #3498db !important;
}

.f-bg-sky {
  background-color: #3498db !important;
}

.f-l-sky {
  color: #ddeef9 !important;
}

.f-bg-l-sky {
  background-color: #ddeef9 !important;
}

.f-indigo {
  color: #6e5cb6 !important;
}

.f-bg-indigo {
  background-color: #6e5cb6 !important;
}

.f-l-indigo {
  color: #eae6f7 !important;
}

.f-bg-l-indigo {
  background-color: #eae6f7 !important;
}

.f-pink {
  color: #da49be !important;
}

.f-bg-pink {
  background-color: #da49be !important;
}

.f-l-pink {
  color: #fbeaf8 !important;
}

.f-bg-l-pink {
  background-color: #fbeaf8 !important;
}

.f-grey {
  color: #bdc3c7 !important;
}

.f-bg-grey {
  background-color: #bdc3c7 !important;
}

.f-black {
  color: #333333 !important;
}

.f-bg-black {
  background-color: #333333 !important;
}
